
      
      h1, h2, h3, h4, h5, p  {
        color: rgb(0, 0, 0);
        font-family:  Helvetica;
        text-align: justify center;
        
      }







*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-ssection{
    background: url(https://fadzrinmadu.github.io/hosted-assets/responsive-about-us-section-using-html/pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.iinner-ccoontainer{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 45px;
}

.iinner-ccoontainer h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .iinner-ccoontainer{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-ssection{
        background-size: 100%;
        padding: 100px 40px;
    }
    .iinner-ccoontainer{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-ssection{
        padding: 0;
    }
    .iinner-ccoontainer{
        padding: 60px;
    }
}