.u-section-2 .u-sheet-1 {
  min-height: 500px;
}
.u-section-2 .u-shape-1 {
  width: 432px;
  height: 557px;
  background-image: none;
  margin: 38px auto 0 0;
}
.u-section-2 .u-shape-2 {
  width: 780px;
  height: 483px;
  background-image: none;
  margin: -595px 0 180px auto;
}
.u-section-2 .u-image-1 {
  width: 450px;
  height: 430px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
 
  margin-top: -707px;
  margin-left: 130px;
}


.u-section-2 .u-group-1 {
  width: 580px;
  min-height: 337px;
  height: auto;
  background-image: none;
  margin: -656px 45px 60px auto;
}



.u-section-2 .u-container-layout-1 {
  padding: 0 50px 30px;
}




.u-section-2 .u-text-1 {
  font-size: 51px;
  font-family: Oswald, sans-serif;
  margin: 20px auto 0 0;
}
.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}
.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}
.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 38px auto 0 0;
  padding: 10px 43px 10px 41px;
}







.u-palette-2-base, 
.u-body.u-palette-2-base, 
.u-container-style
.u-palette-2-base:before, 
.u-container-layout
.u-palette-2-base:before, 
.u-table-alt-palette-2-base tr:nth-child(even) {
  color: #ffffff;
  background-color: #ec2809;

}


.u-section-2 .u-shape-1 {
  width: 452px;
  height: 507px;

  margin: 38px auto 20px 50px;
 
  
}

.u-black, 
.u-body.u-black, 
.u-container-style
.u-black:before, 
.u-container-layout
.u-black:before, 
.u-table-alt-black tr:nth-child(even) {
  color: #ffffff;
  background-color: #000000;
  
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}








.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
  padding-right: 30%;
 
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0%;
  padding-right: 20px;
}

.u-text-body-alt-color, 
a.u-button-style.u-text-body-alt-color,
 a.u-button-style.u-text-body-alt-color[class*="u-border-"] {
  color: #fffdfd ;
}

.u-text-grey-15, a.u-button-style.u-text-grey-15, a.u-button-style.u-text-grey-15[class*="u-border-"] {
  color: #d8cd38 ;
}


